<nav class="mx-auto">
    <div class="mx-auto">
        @let isAuth = isAuth$ | async;
        @if (isAdmin(isAuth) === true) {
        <ul style="display: inline">
            <li style="float: left; left: 0.5%; position: relative; list-style-type: none; font-size: medium;">
                <div>
                    <button id="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
                        User Statistics
                    </button>
                    <ul id="dropdown-ul" class="dropdown-menu">
                        <li class="navigation dropdown-item mx-auto">
                            <a routerLink="/users" (click)="userStoreService.setType('dataGrid')" id="dropdown-a" class="navigationAnchor">Data Grid</a>
                        </li>

                        <li class="navigation dropdown-item mx-auto">
                            <a routerLink="/users" (click)="userStoreService.setType('treeList')" id="dropdown-a" class="navigationAnchor">Tree List</a>
                        </li>

                        <li class="navigation dropdown-item mx-auto">
                            <a routerLink="/users" (click)="userStoreService.setType('pivotGrid')" id="dropdown-a" class="navigationAnchor">Pivot Grid</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        }

        <ul style="display: inline;">
            <li class="navigation">
                <a routerLink="/" class="navigationAnchor">Home</a>
            </li>
            <li class="navigation mx-auto">
                <div id="dropdown-div" class="mx-auto">
                    <button id="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
                        Tasks
                    </button>
                    <ul id="dropdown-ul" class="dropdown-menu">
                        <li class="navigation dropdown-item mx-auto">
                            <a routerLink="/tasks" id="dropdown-a" class="navigationAnchor">All Tasks</a>
                        </li>

                        <li class="navigation dropdown-item mx-auto">
                            <a routerLink="/addTask" class="navigationAnchor">Add Task</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navigation mx-auto">
                <a routerLink="/about" class="navigationAnchor">About</a>
            </li>
        </ul>

        @if (isAuth?.accessToken) {
        <ul class="authenticationUl">
            <li class="authenticationLi">
                <a (click)="logOut()" style="cursor: pointer;" class="navigationAnchor">Logout</a>
            </li>

            <li class="authenticationLi">
                <a routerLink="/" class="navigationAnchor">{{isAuth?.userName}}</a>
            </li>
        </ul>
        }
        @else {
        <ul class="authenticationUl">
            <li class="authenticationLi">
                <a routerLink="/login" class="navigationAnchor">Login</a>
            </li>

            <li class="authenticationLi">
                <a routerLink="/register" class="navigationAnchor">Register</a>
            </li>
        </ul>
        }

        <div class="d-inline-flex switchTheme">
            <label>
                <input type="checkbox" [checked]="isLightTheme" (change)="onThemeSwitchChange()" />
                Switch theme
            </label>
        </div>
    </div>
</nav>