<app-header></app-header>
@if (errorMessage.show === true) {
<span class="text-center mt-2">{{errorMessage.message}}</span>
}

<div class="container">
    <!-- <dx-list [items]="tasks" itemTemplate="tasks">
        <div class="text-center col-lg-3 row" *dxTemplate="let task of 'tasks'; let index = index">
            {{task.id}}
            {{task.isCompleted}}
            {{task.user}}
            {{task.createdOn}}
            {{task.deadline}}
            {{task.name}}
        </div>
    </dx-list> -->

    <!-- <dx-tile-view direction="horizontal">
        <dxi-item *ngFor="let task of tasks; let index = index">
            <div>
                {{task.id}}
                {{task.isCompleted}}
                {{task.user}}
                {{task.createdOn}}
                {{task.deadline}}
                {{task.name}}
            </div>
        </dxi-item>
    </dx-tile-view> -->

    <!-- <dx-data-grid [dataSource]="tasks" [showBorders]="true" [columnAutoWidth]="true">
        <dxi-column caption="Id" dataField="id" dataType="number"></dxi-column>
        <dxi-column caption="Is Completed" dataField="isCompleted" dataType="boolean"></dxi-column>
        <dxi-column caption="User" dataField="user" dataType="string"></dxi-column>
        <dxi-column caption="Created On" dataField="createdOn" dataType="string"></dxi-column>
        <dxi-column caption="Deadline" dataField="deadline" dataType="string"></dxi-column>
        <dxi-column caption="Name" dataField="name" dataType="string"></dxi-column>
    </dx-data-grid> -->
    <style>
        .cardStyle {
            /* color: #cfe2ff; */
            color: #43d6ee;
            font-family: "Lucida Console", "Courier New", Courier, monospace, Arial, Helvetica, sans-serif
        }
    </style>

    <dx-tile-view direction="horizontal" class="offset-md-1 col-md-12 col-sm-6" [height]="800"
    [baseItemHeight]="230"
    [baseItemWidth]="340"
    width="100%">
        @for(task of tasks; track task.id) {
        <dxi-item class="col-md-12 col-sm-6">            
            <div class="me-3 mb-3 cardStyle col-sm-6 col-md-12" style="border: 0.3rem solid #43d6ee; background: #fff">
                <!-- <div class="card me-3 mb-3 col-md-8 col-lg-12 cardStyle" style="border: 0.3rem solid #a3cfbb; background: #0c0c0d"> -->
                <div>
                    <div style="border-bottom: 0.15rem solid #43d6ee">
                        <!-- <div style="border-bottom: 0.15rem solid #a3cfbb"> -->
                        <p class="offset-md-1 mt-auto mx-auto cardStyle">{{task.name}}</p>
                        <span class="d-flex mx-auto mt-auto"
                            style="cursor: pointer; font-size: 24px">
                            &#x2705;
                        </span>
                    </div>
            
                    <div class="cardStyle text-center">
                        <p class="card-text cardStyle">Created on: {{task.createdOn}}</p>
                        <p class="card-text cardStyle">Deadline: {{task.deadline}}</p>
                        <p class="card-text cardStyle">State: {{task.isCompleted === true ? 'Complete' : 'Incomplete' }}</p>
                    </div>
            
                    <!-- <div class="cardStyle" style="border-top: 0.15rem solid #a3cfbb"> -->
                        <div class="cardStyle" style="border-top: 0.15rem solid #43d6ee">
                        <button class="btn btn-warning mt-1 mb-1 me-4 mx-auto d-inline-flex"
                            id="editButton">
                            Edit
                        </button>
            
                        <button class="btn btn-danger mt-1 mb-1 mx-auto d-inline-flex"
                            id="deleteButton">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </dxi-item>
        }
    </dx-tile-view>

    <router-outlet></router-outlet>
</div>

<app-footer style="margin-top: auto !important;"></app-footer>