<app-header></app-header>

<div class="container">
    <!-- <dx-list [items]="tasks" itemTemplate="tasks">
        <div class="text-center col-lg-3 row" *dxTemplate="let task of 'tasks'; let index = index">
            {{task.id}}
            {{task.isCompleted}}
            {{task.user}}
            {{task.createdOn}}
            {{task.deadline}}
            {{task.name}}
        </div>
    </dx-list> -->
    <app-loading-indicator></app-loading-indicator>
    <router-outlet></router-outlet>
</div>

<app-footer style="margin-top: auto !important;"></app-footer>