#deleteButton,
#editButton,
#submitButton {
    font-family: 'Lucida Console', 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
}

/* #deleteButton {
    background: #b00818;
    border-Color: #ddd;
    color: #ddd;
}

#deleteButton:hover {
    background: #8a0011;
    border-color: #959595;
} */

#deleteButton {
    background: rgb(207, 226, 255);
    border-Color: var(--delete-button-border-color);
    color: var(--delete-button-color);
}

#deleteButton:hover {
    background: var(--delete-button-hover-background-color);
    border-color: rgb(207, 226, 255);
    color: rgb(207, 226, 255);
}

/* #editButton {
    background: #ffc107;
    border-Color: #ff6c00;
    color: #000;
}

#editButton:hover {
    background: #d7ac30;
    border-color: #ff3c00;
} */

#editButton {
    background: var(--edit-button-background);
    border-Color: var(--edit-button-border-color); 
    color: var(--edit-button-color); 
}

#editButton:hover {
    background: var(--edit-button-hover-background);
    border-color: rgb(207, 226, 255);
    color: var(--edit-button-hover-color); 
}

#submitButton {
    background: var(--submit-button-background);
    border-Color: #fff;
    color: #fff;
}

#submitButton:hover {
    background: var(--submit-button-hover-background);
    border-Color: #cfe2ff;
    color: #cfe2ff;
}