<dx-data-grid id="gridContainer" [dataSource]="dataSource" (onEditingStart)="onEditingStart($event)"
    (onRowUpdating)="onRowUpdating($event)" [allowColumnReordering]="false" [rowAlternationEnabled]="true"
    [showBorders]="true" [width]="'100%'" [height]="'100%'">

    <!-- (onEditingStart)="logEvent('EditingStart')"
    (onInitNewRow)="logEvent('InitNewRow')"
    (onRowInserting)="logEvent('RowInserting')"
    (onRowInserted)="logEvent('RowInserted')"
    (onRowUpdating)="logEvent('RowUpdating')"
    (onRowUpdated)="logEvent('RowUpdated')"
    (onRowRemoving)="logEvent('RowRemoving')"
    (onRowRemoved)="logEvent('RowRemoved')"
    (onSaving)="logEvent('Saving')"
    (onSaved)="logEvent('Saved')"
    (onEditCanceling)="logEvent('EditCanceling')"
    (onEditCanceled)="logEvent('EditCanceled')" -->

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>

    <!-- <dxo-group-panel [visible]="true"></dxo-group-panel> -->
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column dataField="taskCompleteCount" [groupIndex]="0"></dxi-column>

    <dxi-column dataField="userName" caption="Username" dataType="string">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" min="4" max="16"
            message="Username must be between 4 and 16 characters.">
        </dxi-validation-rule>
        <dxi-validation-rule type="async" [message]="usernameErrorMessage" [validationCallback]="usernameCheck"
            [ignoreEmptyValue]="true">
        </dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="email" caption="E-mail" dataType="string">
        <dxi-validation-rule type="email"></dxi-validation-rule>
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" min="6" max="50" message="E-mail must be between 6 and 50 characters.">
        </dxi-validation-rule>
        <dxi-validation-rule type="async" [message]="emailErrorMessage" [validationCallback]="emailCheck"
            [ignoreEmptyValue]="true">
        </dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="taskCount" caption="Task Count" dataType="number"></dxi-column>

    <dxi-column dataField="taskCompletePercent" caption="Completed %" cellTemplate="completeCountTemplate"
        dataType="number" [width]="160"></dxi-column>
    <div *dxTemplate="let c of 'completeCountTemplate'">
        <div>
            <dx-bullet [showTarget]="false" [showZeroLevel]="true" [startScaleValue]="0"
                [endScaleValue]="c.data.taskCount" [value]="c.data.taskCompleteCount">
                <dxo-size [width]="150" [height]="35"></dxo-size>

                <dxo-tooltip [enabled]="true" [paddingTopBottom]="2" contentTemplate="alabala">
                    <dxo-font [size]="18"></dxo-font>
                    <div *dxTemplate="let a of 'alabala'">
                        {{c.data.taskCompletePercent}}%
                    </div>
                </dxo-tooltip>

                <dxo-margin [top]="5" [bottom]="0" [left]="5"></dxo-margin>
            </dx-bullet>
        </div>
    </div>

    <dxi-column dataField="taskIncompletePercent" caption="Incompleted %" cellTemplate="incompleteCountTemplate"
        dataType="number" [width]="160"></dxi-column>
    <div *dxTemplate="let inc of 'incompleteCountTemplate'">
        <div>
            <dx-bullet [showTarget]="false" [showZeroLevel]="true" [startScaleValue]="0"
                [endScaleValue]="inc.data.taskCount" [value]="inc.data.taskIncompleteCount">
                <dxo-size [width]="150" [height]="35"></dxo-size>

                <dxo-tooltip [enabled]="true" [paddingTopBottom]="2" contentTemplate="neshtosi">
                    <dxo-font [size]="18"></dxo-font>
                    <div *dxTemplate="let n of 'neshtosi'">
                        {{inc.data.taskIncompletePercent}}%
                    </div>
                </dxo-tooltip>

                <dxo-margin [top]="5" [bottom]="0" [left]="5"></dxo-margin>
            </dx-bullet>
        </div>
    </div>

    <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [refreshMode]="'full'" [useIcons]="true">
        <dxo-popup title="Edit User" [showTitle]="true" height="50vh" width="50vw" [hideOnOutsideClick]="true"
            [visible]="visible">
        </dxo-popup>

        <dxo-form>
            <dxi-item dataField="userName"></dxi-item>
            <dxi-item dataField="email"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <dxo-master-detail [enabled]="true" template="users">
    </dxo-master-detail>
    <div *dxTemplate="let user of 'users'">
        @if(user.data.tasks.length > 0) {
        <h2>{{user.data.userName}}'s Tasks:</h2>
        }
        <app-detail-grid (taskUpdated)="onTaskUpdated($event)" (taskDeleted)="onTaskDeleted($event)"
            [tasks]="user.data.tasks"></app-detail-grid>
    </div>
</dx-data-grid>