html, body, #root {
    background-color: #0c0c0d;
    height: 100%;
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: #a3cfbb;
}

#root {
    display: flex;
    flex-direction: column;
}