<div class="mx-auto row">
    @if(isAuth$ | async; as isAuth) {
    <h1 class="pe-5">Hello, {{isAuth.userName}}</h1>
    }

    <div class="mb-2 mx-auto row">
        <div class="d-lg-inline-flex d-md-grid mx-auto col-lg-2">
            <button class="stateButton mx-auto" (click)="filterByState(false)">Incomplete</button>

            <button class="stateButton mx-auto" (click)="filterByState(true)">Complete</button>
        </div>

        <div class="mx-auto col-sm-6 col-lg-4" style="border: transparent 0.4rem solid">
            <select class="selectBox" (change)="setParam('dateSort', $event)" (click)="handleFiltering(isCompleted)">
                <option value="" disabled>Sort By:</option>
                <option value="creation ASC">Creation ASC</option>
                <option value="creation DESC">Creation DESC</option>
                <option value="deadline ASC">Deadline ASC</option>
                <option value="deadline DESC">Deadline DESC</option>
                <option value="">Reset</option>
            </select>

            <input class="ms-3 mt-2 col-xxl-5 filterBox" placeholder="Filter by name.." name="filter" [value]="filter"
                (input)="setParam('filter', $event)" (blur)="handleFiltering(isCompleted)" />
        </div>
    </div>

    @if (showModal === true) {
    <app-dx-edit-modal (setShowModalEvent)="setShowModal($event)" (taskUpdated)="onTaskUpdated($event)"
        [showModal]="showModal" [task]="taskToEdit">
    </app-dx-edit-modal>

    <!-- <app-edit-modal (setShowModalEvent)="setShowModal($event)" (taskUpdated)="onTaskUpdated($event)"
        [taskId]="taskToEdit.id" [name]="taskToEdit.name" [isCompleted]="taskToEdit.isCompleted"
        [deadline]="taskToEdit.deadline" [createdOn]="taskToEdit.createdOn">
    </app-edit-modal> -->
    }

    @if (tasks.length > 0) {
    <dx-tile-view [activeStateEnabled]="false" direction="vertical" class="offset-lg-1 offset-md-3 offset-sm-2"
        [height]="680" [baseItemHeight]="190" [baseItemWidth]="340" [itemMargin]="10">
        @for(task of tasks; track task.id) {
        <dxi-item>
            <app-task (setShowModalEvent)="setShowModal($event)" (sendTaskData)="getTaskToEdit($event)"
                (taskDeleted)="onTaskDeleted($event)" (taskUpdated)="onTaskUpdated($event)" [taskId]="task.id"
                [name]="task.name" [isCompleted]="task.isCompleted" [deadline]="task.deadline"
                [createdOn]="task.createdOn" />
            <!--style="flex-grow: 1; flex-shrink: 1; flex-basis: 30%;"-->
        </dxi-item>
        }
    </dx-tile-view>
    }
    @else if (tasks.length === 0 && noContent === false){
    <h3 class="pt-5">You have no tasks currently</h3>
    <h4>Create them at <a routerLink="/addTask">Add Task</a></h4>
    }
</div>