<div class="modal show fade displayModal">
    <div class=" modal-dialog modal-dialog-centered">
        <div class="modal-content modalBorder">
            <form [formGroup]="editForm" (ngSubmit)="editTask()" class="modal-body">
                <div class="offset-md-10">
                    <button class="btn btn-danger"
                    type="button"
                    (click)="closeModal()">
                        X
                    </button>
                </div>

                @if (invalidForm !== "") {
                    <div class="mt-auto mx-auto col-sm-6 pb-2">
                        <span class="modalInvalidForm">{{invalidForm}}</span>
                    </div>
                }

                <div class="mx-auto col-sm-6 pb-2">
                    <label class="form-label">
                        Task Name:
                    </label>
                    <input type="text" name="name" id="name" formControlName="name" placeholder="Your task..."
                    [ngClass]="editForm.get('name')?.errors &&
                    (editForm.get('name')?.touched ||
                    editForm.get('name')?.dirty) 
                        ? 'form-control-error' 
                        : 'form-control'" />

                    @if (this.editForm.getError('slowDown', 'name')) {
                        <span class="col-sm-12">{{this.editForm.getError('slowDown', 'name')}}</span>
                    }

                    @if (this.editForm.getError('isUnique', 'name') === false) {
                        <span class="col-sm-12">Task Name already exists.</span>
                    }        
                    @else if (editForm.get('name')?.errors &&
                    (editForm.get('name')?.touched ||
                    editForm.get('name')?.dirty)) {
                    <span class="col-sm-12">Task Name is required and must be between 4 and 16 characters.</span>
                    }
                </div>
                <label class="pb-2 modalLabel">Current name: {{currentTaskName}}</label>

                <div class="mx-auto col-sm-6 pb-2">
                    <label class="form-label">
                        Deadline:
                    </label>
                    <input type="date" name="deadline" id="deadline" formControlName="deadline" placeholder="Your deadline..."
                    [min]="currentDate"
                    [ngClass]="editForm.get('deadline')?.errors &&
                    (editForm.get('deadline')?.touched ||
                    editForm.get('deadline')?.dirty) 
                        ? 'form-control-error' 
                        : 'form-control'" />
        
                    @if (editForm.get('deadline')?.errors &&
                    (editForm.get('deadline')?.touched ||
                    editForm.get('deadline')?.dirty)) {
                    <span class="col-sm-12">Deadline is required.</span>
                    }
                </div>
                <label class="pb-2 modalLabel">Current Deadline: {{currentDeadline}}</label>

                <div class="mt-3 mb-2 col-md-12">
                    <button id="submitButton" name="edit" class="btn mx-auto" type="submit"
                        [disabled]="!editForm.valid">
                        Edit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>