<style>
    .cardStyle {
        /* color: #cfe2ff; */
        color: #43d6ee;
        font-family: "Lucida Console", "Courier New", Courier, monospace, Arial, Helvetica, sans-serif
    }
</style>

<div class="card me-3 mb-3 col-md-8 col-lg-12 cardStyle" style="border: 0.3rem solid #43d6ee; background: #fff">
    <!-- <div class="card me-3 mb-3 col-md-8 col-lg-12 cardStyle" style="border: 0.3rem solid #a3cfbb; background: #0c0c0d"> -->
    <div>
        <div style="border-bottom: 0.15rem solid #43d6ee">
            <!-- <div style="border-bottom: 0.15rem solid #a3cfbb"> -->
            <p class="text-center col-9 mt-auto mx-auto d-inline-flex cardStyle">{{name}}</p>
            <span class="col-1 d-inline-flex mx-auto mt-auto"
                style="cursor: pointer; font-size: 24px"
                (click)="updateIsComplete()">
                &#x2705;
            </span>
        </div>

        <div class="card-body cardStyle">
            <p class="card-text cardStyle">Created on: {{createdOn}}</p>
            <p class="card-text cardStyle">Deadline: {{deadline}}</p>
            <p class="card-text cardStyle">State: {{isCompleted === true ? 'Complete' : 'Incomplete' }}</p>
        </div>

        <!-- <div class="cardStyle" style="border-top: 0.15rem solid #a3cfbb"> -->
            <div class="cardStyle" style="border-top: 0.15rem solid #43d6ee">
            <button class="btn btn-warning mt-1 mb-1 me-4 mx-auto d-inline-flex"
                id="editButton"
                (click)="setShouldShow(true)">
                Edit
            </button>

            @if (shouldShow === true) {
                <app-edit-modal [currentTaskName]="name" [currentDeadline]="deadline"
                [taskId]="taskId" [isCompleted]="isCompleted" [createdOn]="createdOn"
                (shouldShow)="setShouldShow($event)" (taskUpdated)="onTaskUpdated($event)">
                </app-edit-modal>
            }

            <button class="btn btn-danger mt-1 mb-1 mx-auto d-inline-flex"
                id="deleteButton"
                (click)="deleteTask()">
                Delete
            </button>
        </div>
    </div>
</div>