#deleteButton,
#editButton,
#submitButton {
    font-family: 'Lucida Console', 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
}

#deleteButton {
    background: #b00818;
    border-Color: #ddd;
    color: #ddd;
}

#deleteButton:hover {
    background: #8a0011;
    border-color: #959595;
}

#editButton {
    background: #ffc107;
    border-Color: #ff6c00;
    color: #000;
}

#editButton:hover {
    background: #d7ac30;
    border-color: #ff3c00;
}

.param {
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    color: rgb(207, 226, 255);
    cursor: pointer;
}

.param:hover {
    /* PARALLELOGRAM */
    border: #a3cfbb 0.4rem solid;
    width: 12rem;
	height: 3rem;
	transform: skew(-33deg);
}

#submitButton {
    background: #a3cfbb;
    border-Color: #fff;
    color: #fff;
}

#submitButton:hover {
    background: #59a683;
    border-Color: #cfe2ff;
    color: #cfe2ff;
}