@import "../src/app/themes.css";

html,
body,
app-root {
    background-color: var(--background-color);
    height: 100%;
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: var(--option-color);
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-y: auto;
}